.body-page1 {
    background-image: url('/images/todo1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Pangolin', cursive;
  }

  .today-work{
    margin: auto;
    margin-top: 5rem;
    width: 40%;
    padding: 0.5rem;
    background-color: lightblue;

}

.today-content{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
}

ul {
    list-style: none;
  
  }



.delete-btn{
   margin-left: 1.5rem;
}

.add-todo{
    width: 100%;
    margin-left: 50%;
    display: inline;
}