.body-page1 {
    background-image: url('https://sm.ign.com/t/ign_latam/screenshot/default/7-deadly-sins_t5r9.1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Pangolin', cursive;
  }

  .today-work{
    margin: auto;
    margin-top: 5rem;
    width: 100%;
    padding: 0.5rem;
    background-color: lightblue;

}

.today-content{

    font-size: 1.5rem;
    width: 100%;
}

ul {
    list-style: none;
  
  }



.delete-btn{
   margin-left: 1.5rem;
}

.add-todo{
    width: 100%;
    margin-left: 50%;
    display: inline;
}